<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body> 
  <div class="bg-cover bg-center min-h-screen">   
    
    <!-- Header Start -->
    <header class="bg-transparent fixed top-0 left-0 w-full flex items-center z-10 bg-navy opacity-90 shadow-sm">
      <div class="container">
        <div class="flex items-center justify-between relative">
          <div class="px-4">
            <a href="#" class="font-bold text-lg text-white block py-6">Daffaaptar</a>
          </div>
          <div class="flex items-center px-4">
            <button id="hamburger" name="hamburger" type="button"
            class="block absolute right-4 lg:hidden">
              <span class="hamburger-line transition duration-300 ease-in-out origin-top-left"></span>
              <span class="hamburger-line transition duration-300 ease-in-out"></span>
              <span class="hamburger-line transition duration-300 ease-in-out origin-top-left"></span>
            </button>
            <nav id="nav-menu" class="hidden absolute py-5 bg-navy rounded-lg max-w-[250px] w-full right-4 top-full shadow-lg lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none">
              <ul class="block lg:flex">
                <li class="group">
                  <a href="" class="text-base text-white py-2 mx-8 flex">Home</a>
                </li>
                <li class="group">
                  <a href="" class="text-base text-white py-2 mx-8 flex">About</a>
                </li>
                <li class="group">
                  <a href="" class="text-base text-white py-2 mx-8 flex">Product</a>
                </li>
                <li class="group">
                  <a href="" class="text-base text-white py-2 mx-8 flex bg-oren rounded-full w-[150px] text-center justify-center items-center" type="button">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

</body>
</html> 